In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [14]:
df =pd.read_csv('D:\Project_7\stud.csv')

In [15]:
df.sample(5)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
827,female,group C,some high school,standard,none,65,69,76
575,male,group A,associate's degree,free/reduced,completed,40,55,53
334,female,group C,bachelor's degree,standard,none,83,93,95
48,female,group D,associate's degree,free/reduced,completed,57,74,76
539,male,group A,associate's degree,standard,completed,97,92,86

* Shape of the dataset

In [16]:
print(df.shape)

(1000, 8)

In [17]:
print(df.columns)

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [18]:
print(df['race_ethnicity'].value_counts())

race_ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

* To see unique values in a dataset

In [19]:
for column in df.columns:
    unique_values=df[column].unique()
    unique_count=df[column].nunique()
    print(f'{column}: {unique_values} :{unique_count}')

gender: ['female' 'male'] :2
race_ethnicity: ['group B' 'group C' 'group A' 'group D' 'group E'] :5
parental_level_of_education: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school'] :6
lunch: ['standard' 'free/reduced'] :2
test_preparation_course: ['none' 'completed'] :2
math_score: [ 72  69  90  47  76  71  88  40  64  38  58  65  78  50  18  46  54  66
  44  74  73  67  70  62  63  56  97  81  75  57  55  53  59  82  77  33
  52   0  79  39  45  60  61  41  49  30  80  42  27  43  68  85  98  87
  51  99  84  91  83  89  22 100  96  94  48  35  34  86  92  37  28  24
  26  95  36  29  32  93  19  23   8] :81
reading_score: [ 72  90  95  57  78  83  43  64  60  54  52  81  53  75  89  32  42  58
  69  73  71  74  70  65  87  56  61  84  55  44  41  85  59  17  39  80
  37  63  51  49  26  68  45  47  86  34  79  66  67  91 100  76  77  82
  92  93  62  88  50  28  48  46  23  38  94  97  99  31  96  24  29  40] :72
writing_score: [ 74  88  93  44  75  78  92  39  67  50  52  43  73  70  58  86  28  46
  61  63  53  80  72  55  65  38  82  79  83  59  57  54  68  66  62  76
  48  42  87  49  10  34  71  37  56  41  22  81  45  36  89  47  90 100
  64  98  51  40  84  69  33  60  85  91  77  27  94  95  19  35  32  96
  97  99  15  30  23] :77

* Check Missing Values

In [20]:
print(df.isnull().sum())

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [21]:
#check Null and Dtypes
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [22]:
#check stats of a dataset
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [23]:
#Seeing how many Numerical and categorical Columns
numerical_features=[feature for feature in df.columns if df[feature].dtype !='O'] #feature is the column name included in the list where dtype!=0
categorical_features=[feature for feature in df.columns if df[feature].dtype =='O']
print(f'numerical_features:{numerical_features}')
print(f'categorical_features:{categorical_features}')

numerical_features:['math_score', 'reading_score', 'writing_score']
categorical_features:['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']

In [24]:
print("We have {0}numerical_features :{1}".format(len(numerical_features),numerical_features))
print("We have {0} Categorical_features :{1}".format(len(categorical_features),categorical_features))

We have 3numerical_features :['math_score', 'reading_score', 'writing_score']
We have 5 Categorical_features :['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']

* Feature Engineering

In [25]:
df.columns

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [30]:
df['total_score'] = df['math_score']+df['reading_score']+df['writing_score'] #This is one Target Variable
df['average']=df['total_score']/3 #this is one target variable finding average
df['average']
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333